[Desktop Entry]
Type=Application
Exec=/home/unitree/RobotVisionSystem/start.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Robot-vision
Name=Robot-vision
Comment[en_US]=
Comment=
